@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

:root{
  --colorText: white;
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
}

.navBar{
  background-color: black;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.textProfile{
  color: var(--colorText);
  font-family: 'Poppins', sans-serif;
}

.textTitle{
  color: var(--colorText);
  font-family: 'Poppins', sans-serif;
}

.btn{
  text-decoration: none;
  color: var(--colorText);
  font-family: 'Poppins', sans-serif;
}


/* .Car{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 60%;
  height: 25rem;
  border-radius: 0.25rem;
  align-items: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(204,190,204,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(204,190,204,1);
  box-shadow: 10px 10px 5px 0px rgba(204,190,204,1);
}

.btn{
  background-color: blue;
  border-radius: 0.25rem;
  width: 50%;
} */